// TODO: change the header font to a serif
$headers-font: 'Open Sans', 'Helvetica Neue', sans-serif;
$body-font: 'Open Sans', 'Helvetica Neue', sans-serif;


body{
  h1,h2,h3 {
    font-family: $headers-font;
  }
  font-family: $body-font;
}